/*display={"flex"}
            flexDirection={"column"}
            maxWidth={260}
            alignItems="center"
            justifyContent={"center"}
            margin={"auto"}
            marginTop={5}
            padding={5}
            borderRadius={5}
            boxShadow={"10px 10px 15px #ccc"}
            backgroundColor="#FAF9FA"
            sx={{ ":hover": { boxShadow: "15px 15px 25px #ccc" } }}
*/
/* convert the above to a css class named box */

.box {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px #ccc;
    background-color: #faf9fa;
}

.box:hover {
    box-shadow: 15px 15px 25px #ccc;
}